h1 {
	font-size: 4em;
	text-align: left;
	line-height: 1em;
	position: relative;
	left: 33%;
}

h2 {
	font-size: 2em;
	color: #a00;
}

h3 {
	font-size: 1em;
	line-height: 2em; 
}

ul { 
	width: 100%;
}
