/* Print has reduced margin-top and reduced font-size */
body {
	padding: 0em;
	margin-top: -3em;
	font-size: 10pt; 
	font-family: Calibri, sans-serif;
  }

.qr-code {
	margin-top: 2em;
    float: right;
}

h1 {
	font-size: 4em;
	/*line-height: 1em;*/
}

h2 {
	font-size: 1.5em;
	line-height: 1em; 
	/*color: #a00;*/
	color: teal;
}

#info {
	margin-bottom: -0.25em;
	margin-top: -2em;
}
#info a {
	text-decoration: none;
}

.technical-one {
	margin-bottom: 0.5em;
	display: inline-block;
}


h3 {
	font-size: 1.15em;
	line-height: 1em; 
	margin-bottom: -0.50em;
}

ul { 
	width: 100%;
	font-size: 1em;
}

li {
	padding-right: 7em;
}
header, footer {
	display: none;
  }

.small-right {
    float: right;
}
